@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NewsReader';
  src: url("../../public/newsreader_font.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* forms */
input, select, option {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font: text-gray-950;
}

/* calendar */
body .calendar_default_event_inner {
    background: #2e78d6;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 10pt;
    padding: 5px;
    opacity: 0.8;
}


